*
{
margin:0;
padding:0;
}

body
{
font-family:sans-serif;
}

.container
{
background-image:url("WhatsApp_Image_2020-10-29_at_6.27.12_PM__3_-removebg-preview.png");
height:100%;
width:100%;
background-repeat:no-repeat;
border-radius:40px;
text-align:center;
}

.img1{
width:200px;
height:250px;
margin-left:50px;
margin-top:200px;
}
.rw{
text-align:left;
}
/*-------------------------------------------------*/
.ab{
background-image:url("W-removebg-preview.png");
background-repeat:no-repeat;
width:340px;
height:100%;
margin-left:-15px;
}

.img2{
height:150px;
width:130px;
margin-left:115px;
margin-top:100px;
}
.ac,b{
margin-left:30px;
font-weight:500;
font-size:20px;
margin-top:10px;
}
.ac,i{
margin-top:40px;
margin-left:-80px;
font-weight:200;
font-size:20px;
}

.btn1{
background-color:white;
color:black;
border:1px solid black;
margin-top:130px;
margin-left:30px;
width:300px;
border-radius:5px;
text-decoration:none;
}

.btn1:hover{
background-color:orange;
color:white;
border:none;
margin-top:130px;
margin-left:30px;
width:300px;
border-radius:5px;
}
.btn2{
background-color:white;
color:black;
border:1px solid black;
margin-top:5px;
margin-left:30px;
width:300px;
border-radius:5px;
}
.btn2:hover{
background-color:orange;
color:white;
border:none;
margin-top:5px;
margin-left:30px;
width:300px;
border-radius:5px;
}
.clr{
color:orange;
}
small{
color:black;
margin-top:-5px;}
/*---------------------------------------------------------------*/
.ab1{
background-image:url("WhatsApp_Image_2020-10-29_at_6.27.12_PM__6_-removebg-preview.png");
background-repeat:no-repeat;
width:340px;
height:100%;
border-radius:30px;
margin-left:-15px;
}
.img3{
width:20px;
height:20px;
}
.abc{
float:left;
}
.tn{
margin-top:230px;
}
/*------------------------------------------------*/
.ab2{
background-image:url("WhatsApp_Image_2020-10-29_at_6.27.12_PM__10_-removebg-preview.png");
background-repeat:no-repeat;
width:340px;
height:100%;
border-radius:30px;
margin-left:-15px;");
background-repeat:no-repeat;
width:340px;
height:100%;
border-radius:30px;
margin-left:-15px;
}

.tn1{
margin-top:180px;
margin-left:45px;
}




#partitioned{
padding-left:10px;
letter-spacing:42px;
border:0;
background-image:linear-gradient(to left, black 70%, rgba(255,255,255,0) 0%);
background-position:bottom;
background-size:50px 1px;
background-repeat:repeat-x;
background-position-x:35px;
width:245px;
margin-left:60px;
maxlength:"5";
}
